create table taskList (
  taskList_id serial PRIMARY KEY,
  title varchar not null
);
create table task (
  task_id serial PRIMARY KEY,
  title varchar not null,
  description varchar,
  done boolean not null,
  due_date TIMESTAMP,
  list_id integer not null,
FOREIGN KEY (list_id) REFERENCES taskList (taskList_id)
  ON DELETE CASCADE
);
